@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_MyLayoutFinal.cshtml";
}

<section id="contact">
		<article>
	          	<div id="contact_form">
	           	<h3>Let's start a project</h3>
	           	<p>If you have a project in mind, you can use the below form to contact us.</p>
	           	<hr>
			  	<form id="cont-form" method="post">
	              <input type="text" name="name" id="name" placeholder="Name"><span>*</span><br>
	              <input type="text" spellcheck='false' name="email" id="email" placeholder="Email Address" ><span>*</span><br>
	              <input type="text" name="phone"id="phone" placeholder="Phone Number"><span style="color:#fff">*</span><br>
	              <textarea name="comments" placeholder="Tell us a little about your project"></textarea><span style="margin-top:12px;">*</span><br>
	               <a id="send-btn" href ="Index">Home</a>
                      <a id="send-btn" href="#">Send</a>
                       
	              <div class="clr"></div>
			    </form>
			</div>
			<div id="address">
				<p>or you can send an email or call us.</p>
				<span>k.wagieh.asham@gmail.com</span>
				<span>(+1) 7867247689</span>
				<span>#33139, Yesse, Keroulos.</span>
	        </div>
		</article>
		<!-- To change map location edit scripts.js -->
		<div id="map"></div>
	</section>
	
