@{
    ViewBag.Title = "Mission";
    Layout = "~/Views/Shared/_MyLayoutFinal.cshtml";
}

<section id="contact">
		<article>
	          	<div id="contact_form">
	           	<h3>Our Mission</h3>
	           	<p>Our Mission is to deliver rliable solutions for your business with up to date technologies that you can rely on to take your business to next level.</p>
	           	<hr>
			    <a id="send-btn" href ="Index">Home</a>
                       
	              <div class="clr"></div>
			     
			</div>
			
		</article>
	 
	</section>
	