@{
    ViewBag.Title = "Vision";
    Layout = "~/Views/Shared/_MyLayoutFinal.cshtml";
}

<section id="contact">
		<article>
	          	<div id="contact_form">
	           	<h3>Our Vision</h3>
	           	<p>Our Vision is to gurantee customer satisfaction even after sales! Maintainance for your website will be on us for one year until you have a solid ground to stand on it. Faster communicatin with your customers and reliability is our concern!.</p>
	           	<hr>
			    <a id="send-btn" href ="Index">Home</a>
                       
	              <div class="clr"></div>
			     
			</div>
			
		</article>
	 
	</section>
	